MIDlet-1: @APP_NAME@, /res/icon.png, th.co.yellowpages.javame.YPZXingMIDlet
MIDlet-Description: QRCoder
MIDlet-Icon: /res/zxing-icon.png
MIDlet-Info-URL: javame.yellowpages.co.th
MIDlet-Jar-Size: @JAR_SIZE@
MIDlet-Jar-URL: @APP_NAME@.jar
MIDlet-Name: @APP_NAME@
MIDlet-Permissions: javax.microedition.media.control.VideoControl.getSnapshot
MIDlet-Vendor: YellowPages Thailand
MIDlet-Version: @VERSION@
MicroEdition-Configuration: CLDC-1.1
MicroEdition-Profile: MIDP-2.0
